@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
   font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  user-select: none;
  overflow: scroll;
  background-color: #020617;
  
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
 
  background-color: #1E293B;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.customborder {
  border-right-width: 2px;
  border-left-width: 2px;
  border-left-color: rgb(225, 225, 225);
  border-Right-color: rgb(225, 225, 225);
}

* {
  scrollbar-color: #1E293B transparent;
}

* {
  scrollbar-face-color: #1E293B;
  scrollbar-track-color: transparent;
}

.loader {
  width: 60px;
  height: 60px;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid white;
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
}